<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuctionManagement.Domain.Contracts" version="1.0.0" targetFramework="net462" />
  <package id="NServiceBus" version="7.1.6" targetFramework="net462" />
  <package id="NServiceBus.Transport.Msmq" version="1.0.0" targetFramework="net462" />
</packages>